@use "@/shared/styles/responsive";

.header {
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;

	width: 100%;
}

.container {
	position: relative;
	z-index: 1;

	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	max-width: 1340px;
	margin: 0 auto;
	padding: 15px 20px;

	background: var(--container-bg);
	background-color: var(--main-bg);
	background-position: 20px top;
	background-size: var(--bg-gap) 100%;

	.sectionContainer {
		display: flex;
		gap: 30px;
		align-items: center;
		align-self: center;

		@include responsive.mobile {
			display: none;
		}
	}

	.rightContainer,
	.leftContainer {
		display: flex;
		gap: 10px;
		align-items: center;
	}

	.rightContainer {
		align-items: stretch;
	}

	.theme {
		flex: 1;
	}

	.sectionItem {
		font-weight: 500;
		font-style: normal;
		color: var(--primary);

		&:global(.active),
		&:hover {
			color: var(--bold-primary);
		}
	}

	.logoContainer {
		display: flex;
		gap: 10px;
		align-items: center;

		img {
			width: 45px;

			@include responsive.mobile {
				width: 35px;
			}
		}
	}

	.logoText {
		font-family: var(--font-space_grotesk);
		font-size: 18px;
		font-weight: 700;
		color: var(--bold-primary);

		@include responsive.mobile {
			display: none;
		}
	}

	.menuButton {
		display: none;
	}

	.menuContainer {
		display: none;
	}

	@include responsive.mobile {
		gap: 5px;
		padding: 12px 20px;

		.menuButton {
			display: flex;
			align-items: center;
			justify-content: center;

			padding: 5px;

			background: var(--light-bg);
			border: 0.864px solid var(--border);
			border-radius: 10.364px;

			img {
				width: 17px;
				height: 17px;
			}

			:global([data-theme="dark"]) & img {
				filter: invert(1);
			}
		}

		.theme {
			display: none;
		}
	}
}

.menuContainer {
	display: none;
}

@include responsive.mobile {
	.menuContainerLayout {
		position: fixed;
		z-index: 7;
		top: 103px;

		width: 100%;
		height: calc(100vh - 103px);

		background: var(--header-dropdown-blur-background);
		backdrop-filter: blur(10px);
	}

	.menuContainer {
		display: flex;
		flex-direction: column;
		gap: 56px;
		align-items: center;

		width: 100%;
		padding: 0 24px;
		padding-bottom: 40px;

		background: var(--header-background);

		.linksContainer {
			display: flex;
			flex-direction: column;
			gap: 43px;
			align-items: center;

			font-size: 16px;
			font-weight: 600;
			line-height: 19.2px;
			color: var(--header-text-color);
			text-align: left;
			letter-spacing: -0.04em;
		}

		.signInButton {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 100%;
			height: 39px;

			font-size: 16px;
			font-weight: 600;
			line-height: 19.2px;
			color: var(--header-dropdown-sign-in-color);
			text-align: center;
			letter-spacing: -0.04em;

			background: var(--header-dropdown-sign-in-background);
			border: 1px solid var(--header-dropdown-sign-in-color);
			border-radius: 1px;
			outline: none;
		}
	}
}
