@use "@/shared/styles/responsive";

.container {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 2fr;
	align-items: center;

	padding: 80px 0;

	@include responsive.mobile {
		grid-gap: 8px;
		grid-template-columns: 100%;
		padding: 40px 0;
	}
}

.icon {
	display: flex;
	gap: 12px;
	align-items: center;

	max-width: max-content;
	margin-bottom: 24px;
	padding: 18px;

	font-family: var(--font-space_grotesk);
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
	line-height: 22px;
	color: var(--bold-primary);

	background: var(--light-orange-bg);
	border-radius: 16px;

	@include responsive.mobile {
		gap: 8px;

		margin-bottom: 12px;
		padding: 8px;

		font-size: 14px;
		line-height: 20px;
	}

	img {
		width: 24px;
		height: 24px;

		@include responsive.mobile {
			width: 18px;
			height: 18px;
		}
	}
}

.title {
	margin-bottom: 20px;

	font-family: var(--font-space_grotesk);
	font-size: 52px;
	font-weight: 500;
	font-style: normal;
	line-height: 52px; /* 100% */
	color: var(--bold-primary);
	letter-spacing: -2.08px;

	@include responsive.mobile {
		font-size: 20px;
		line-height: 22px;
	}
}

.mainImg {
	width: 100%;
	max-width: 353px;
	height: 404px;
	margin: 0 auto 16px;

	object-fit: contain;

	@include responsive.mobile {
		height: 324px;
		margin-bottom: 16px;
	}
}

.btnMore {
	display: flex;
	gap: 12px;
	align-items: center;

	width: max-content;
	margin-top: 24px;

	img {
		width: 36px;
		height: 36px;
		padding: 4px;

		background: var(--light-orange-bg);
		border-radius: 8px;

		@include responsive.mobile {
			width: 28px;
			height: 28px;
		}
	}
}

.leftBlock {
	@include responsive.mobile {
		display: none;
	}
}

.mobileBlock {
	display: none;

	@include responsive.mobile {
		display: block;
	}
}

.accordion {
	display: flex;
	flex-direction: column;
	gap: 12px;

	background: none;
	border: none;
	border-radius: none;

	:global(.ant-collapse-item) {
		padding: 12px;
		background: var(--light-bg);
		border: none;
		border-radius: 12px !important;
	}

	:global(.ant-collapse-header) {
		padding: 0 !important;
	}

	:global(.ant-collapse-item-active) {
		:global(.ant-collapse-header) {
			padding-bottom: 16px !important;
		}
	}

	:global(.ant-collapse-content-active),
	:global(.ant-collapse-content) {
		font-size: 18px;

		@include responsive.mobile {
			font-size: 16px;
		}

		color: var(--primary) !important;
		background: var(--light-bg) !important;
	}

	:global(.ant-collapse-expand-icon) {
		justify-content: center;

		width: 44px;
		height: 44px !important;
		padding-inline: 0 !important;

		color: var(--bold-primary);

		border: 1px solid var(--border);
		border-radius: 12px;

		@include responsive.mobile {
			width: 32px;
			height: 32px !important;
		}
	}
}

.accordionTitle {
	display: flex;
	gap: 16px;
	align-items: center;

	font-family: var(--font-space_grotesk);
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	line-height: 22px;
	color: var(--bold-primary);

	@include responsive.mobile {
		gap: 12px;
		font-size: 14px;
		line-height: 18px;
	}
}

.accordionTitleIcon {
	display: flex;
	align-items: center;
	justify-content: center;

	width: max-content;
	padding: 12px;

	background: var(--light-green-bg);
	border-radius: 8px;

	img {
		width: 20px;
		height: 20px;

		@include responsive.mobile {
			width: 18px;
			height: 18px;
		}
	}

	@include responsive.mobile {
		padding: 7px;
	}
}
