.switchContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 100%;
	padding: 5px;

	background: var(--light-bg);
	border: 1px solid var(--border);
	border-radius: 12px;
}

.switchItem {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 5px;

	border-radius: 8px;

	&:global(.active) {
		background: var(--light-orange-bg);
	}
}
