@use "@/shared/styles/responsive.scss";

.container {
	display: flex;
	width: 100%;
	justify-content: space-between;

	.hatContainer {
		display: flex;
		gap: 20px;
		width: calc((100% / 2) - 20px);

		.text {
			margin-top: 6px;
			font-weight: 600;
			font-size: 20px;
			line-height: 100%;
			letter-spacing: 0%;
			color: var(--header-dropdown-sign-in-color);
		}

		.slider {
			width: 95%;
		}
	}

	@include responsive.mobile {
		flex-direction: column;
		gap: 45px;

		.hatContainer {
			width: 100%;
			gap: 40px;
			flex-direction: column;
			.text {
				color: #746fe5;
				font-size: 12px;
			}
		}
	}
}

.toolContainer {
	display: flex;
	align-items: center;
	gap: 5px;
	color: #aeace4;
	font-family: var(--font-inter);
	font-weight: 600;
	font-size: 17px;
	line-height: 120%;
	letter-spacing: 0%;
	text-align: center;
	position: relative;

	vertical-align: middle;
	pointer-events: all !important;

	p {
		display: flex;
		align-items: center;
	}

	input {
		color: #aeace4;
		font-family: var(--font-inter);
		font-weight: 600;
		font-size: 17px;
		line-height: 120%;
		letter-spacing: 0%;
		max-width: 60px;
		width: min-content !important;
		background: none;
		outline: none;
		border: none;
	}
}

.hatAndAiscContainer {
	display: flex;
	gap: 20px;
	width: calc((100% / 2) - 20px);

	.text {
		margin-top: 7px;
		font-weight: 400;
		font-size: 20px;
		line-height: 100%;
		letter-spacing: 0%;
		color: #97a0ff33;
		width: max-content;
		display: flex;
		gap: 5px;

		span {
			color: #aeace4;
			cursor: pointer;
		}
	}

	.active {
		color: #746fe5 !important;
		text-decoration: underline;
	}

	.slider {
		width: 100%;
	}

	@include responsive.mobile {
		width: 100%;
		gap: 40px;
		flex-direction: column;
		.text {
			color: #746fe5;
			font-size: 12px;
		}

		.slider {
			width: 95%;
		}
	}
}
