@use "@/shared/styles/responsive.scss";

.totalRateContainer {
	display: flex;
	width: 100%;
	margin-top: 14px;
	align-items: center;
	justify-content: space-between;
	font-family: var(--font-inter);
	font-weight: 600;
	font-size: 20px;
	line-height: 140%;
	letter-spacing: 0%;
	color: var(--profile-items-span-text-color);

	span {
		font-weight: 400;
	}

	@include responsive.mobile {
		font-size: 16px;
	}
}
