@use "@/shared/styles/responsive";

.totalRateContainer {
	display: flex;
	gap: 12px;
	align-items: center;
	align-self: flex-end;

	width: max-content;
	padding: 18px;

	background: var(--light-orange-bg);
	border-radius: 12px;

	@include responsive.mobile {
		padding: 8px;
	}
}

.icon {
	width: 24px;
	height: 24px;

	@include responsive.mobile {
		width: 18px;
		height: 18px;
	}
}

.title {
	font-family: var(--font-space_grotesk);
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
	line-height: 22px;
	color: var(--bold-primary);

	@include responsive.mobile {
		font-size: 13px;
		line-height: 18px;
	}
}

.value {
	font-family: var(--font-space_grotesk);
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
	line-height: 22px;
	color: var(--orange);

	@include responsive.mobile {
		font-size: 13px;
		line-height: 18px;
	}
}
