@use "@/shared/styles/responsive";

.container {
	padding: 80px 0;

	@include responsive.mobile {
		padding: 16px 0;
	}
}

.top {
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: space-between;
}

.topIcon {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 18px;

	background: var(--light-green-bg);
	border-radius: 16px;

	@include responsive.mobile {
		padding: 10px;
	}

	img {
		width: 24px;
		height: 24px;

		@include responsive.mobile {
			width: 20px;
			height: 20px;
		}
	}
}

.topText {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 32px;

	@include responsive.mobile {
		margin-bottom: 20px;
	}
}

.title {
	font-family: var(--font-space_grotesk);
	font-size: 40px;
	font-weight: 500;
	font-style: normal;
	line-height: 36px;
	color: var(--bold-primary);

	@include responsive.mobile {
		font-size: 20px;
		line-height: 22px;
	}
}

.description {
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 24px;
	color: var(--primary);

	@include responsive.mobile {
		font-size: 13px;
		line-height: 16px;
	}
}

.sliderContainer {
	position: relative;
	margin-bottom: 24px;

	&::after {
		pointer-events: none;
		content: "";

		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;

		width: 5%;
		height: 100%;

		background: linear-gradient(
			90deg,
			rgb(234 236 239 / 0%) 0%,
			#eaecef 46.68%
		);
	}

	:global([data-theme="dark"]) &::after {
		background: linear-gradient(90deg, rgb(24 29 28 / 0%) 0%, #181d1c 46.68%);
	}

	:global(.swiper-wrapper) {
		display: flex;
		align-items: stretch;

		:global(.swiper-slide) {
			height: auto !important;
		}
	}

	@include responsive.mobile {
		margin-bottom: 20px;
	}
}

.sliderItem {
	display: flex;
	flex-direction: column;
	gap: 20px;

	height: 100%;
	padding: 24px;

	background: var(--light-bg);
	border-radius: 12px;

	@include responsive.mobile {
		gap: 8px;
		padding: 16px;
	}
}

.sliderIcon {
	display: flex;
	align-items: center;
	justify-content: center;

	width: max-content;
	padding: 14px;

	background: var(--main-bg);
	border-radius: 12px;

	@include responsive.mobile {
		padding: 10px;
	}

	img {
		width: 24px;
		height: 24px;

		@include responsive.mobile {
			width: 20px;
			height: 20px;
		}
	}

	:global([data-theme="dark"]) & img {
		filter: invert(1);
	}
}

.sliderTitle {
	font-family: var(--font-space_grotesk);
	font-size: 28px;
	font-weight: 500;
	font-style: normal;
	line-height: 26px;
	color: var(--bold-primary);

	@include responsive.mobile {
		font-size: 15px;
		line-height: 20px;
	}
}

.sliderText {
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 24px;
	color: var(--primary);

	@include responsive.mobile {
		font-size: 13px;
		line-height: 16px;
	}
}

.sliderButtons {
	display: flex;
	gap: 8px;
	align-items: center;
}

.sliderButton {
	padding: 12px;

	&:global(.advantages-button-next) {
		transform: rotate(180deg);
	}

	img {
		width: 24px;
		height: 24px;

		@include responsive.mobile {
			width: 20px;
			height: 20px;
		}
	}

	:global([data-theme="dark"]) & img {
		filter: invert(1);
	}
}
