:root {
	--white: #fff;
	--black: #182222;
	--accent1: #ff7d01;
	--background: white;
	--cursor-background: #5a56b6;
	--header-text-color: #333178;
	--header-background: white;
	--header-sign-in-button: #5a56b6;
	--footer-background-color: #5315bd;
	--footer-text-color: #fff;
	--section-color: linear-gradient(100.29deg, #4c0fbc 23.66%, #9352ca 97.17%);
	--faq-bg: white;
	--main-section-sign-in-shadow: none;
	--main-section-buy-button-shadow: 0px 4px 4px 0px #746fe55c;
	--main-section-buy-button-bg: #bcbafa;
	--main-section-buy-button-text: #5517be;
	--about-section-text-color: #fff;
	--about-section-text-container-bg: #e5e4ff24;
	--about-section-text-container-border: #abaae2;
	--faq-question-bg-color: #7a48cb70;
	--faq-question-border-color: #8646c7;
	--faq-question-text-color: #1e0a44;
	--faq-question-font-weigth-color: 500;
	--contact-us-section-span-color: #17163c;
	--contact-background: #fff;
	--contact-send-button-background: linear-gradient(
		100.29deg,
		#4c0fbc 23.66%,
		#9352ca 97.17%
	);
	--contact-items-background: #746fe533;
	--contact-form-text-color: #1c1a71;
	--contact-text-container-border: #17167f;
	--contact-text-container-main-text-color: #17167f;
	--contact-text-container-text-color: #17163c;
	--input-label-text-color: #d6d4ff;
	--backhome-text-color: #8280be;
	--header-user-text-color: #4c48b7;
	--header-user-balance-color: #aeace4;
	--eye-header-color: #2d3973;
	--profile-icons-display: none;
	--navigation-background: #e2e0ffcf;
	--navigation-links-background: #746fe51a;
	--navigation-color-text: #746fe5b2;
	--navigation-active-color: #4c48b7;
	--navigation-border-color: #746fe5;
	--profile-items-background-color: #f1f1ff;
	--profile-containers-background: #e5e4ff;
	--profile-total-replenished-color: #746fe5;
	--profile-items-span-text-color: #15133b;
	--profile-items-text-color: #1b1a57;
	--screen-game-container-color: none;
	--screen-balance-container-background: none;
	--screen-balance-container-border: #746fe5;
	--screen-balance-container-text-color: #26254a;
	--screen-container-background-color: none;
	--screen-container-text-color: #616bb1;
	--sapper-text-color: #17144b;
	--sapper-multiply-color: #17144b;
	--sapper-board-color-border: #17144b;
	--sapper-board-color-hover: rgb(0 0 0 / 12.7%);
	--sapper-balance-container-color: none;
	--sapper-balance-container-border-color: none;
	--sapper-color-input-container: #17144b;
	--sapper-color-text-container: #17144b;
	--sapper-color-text-money-container: #17144b;
	--sapper-foot-background: #17144b;
	--moon-svg-color: #aeace4;
	--header-dropdown-background: #fff;
	--input-background: #746fe533;
	--header-dropdown-sign-in-background: none;
	--header-dropdown-sign-in-color: #746fe5;
	--header-dropdown-blur-background: #47448b80;
	--registration-country-pick-bg: #fff;
	--registration-country-pick-color: #4c48b7;
	--total-withdraw-hover-color: #504bab;
	--modal-background-color: #fff;
	--modal-text-color: #746fe5;
	--withdraw-text-color: #746fe5;
	--free-coin-background: #746fe5;
	--setting-sections-background: #746fe51a;
	--wallet-input-color: #4c48b7;
	--button-graph-background: #746fe533;
	--about-aisc-hat-background: #d8d7f7;
	--feedback-before-background: #fff;
	--lines-display: none;
	--about-aisc-and-hat-background: #746fe51a;
	--about-aisc-and-hat-border: #746fe5;
	--layoutbackground: none;
}

[data-theme="dark"] {
	--layoutbackground: url("../icons/background.png");
	--about-aisc-and-hat-border: #39387a;
	--about-aisc-and-hat-background: #181840;
	--lines-display: flex;
	--feedback-before-background: #15133b;
	--about-aisc-hat-background: #15133b;
	--button-graph-background: #181840;
	--wallet-input-color: #d0d0d0;
	--setting-sections-background: #26254a;
	--free-coin-background: #aeace480;
	--withdraw-text-color: #aeace4;
	--modal-text-color: #aeace4;
	--modal-background-color: #05041b80;
	--navigation-border-color: #4f4bad;
	--navigation-color-text: #aeace4;
	--total-withdraw-hover-color: #fff;
	--registration-country-pick-color: #fff;
	--registration-country-pick-bg: #15133b;
	--header-dropdown-blur-background: #05041b80;
	--header-dropdown-sign-in-color: #fff;
	--header-dropdown-sign-in-background: #ffffff24;
	--input-background: #15133b;
	--header-dropdown-background: #26254a;
	--moon-svg-color: #fff;
	--sapper-foot-background: #fff;
	--sapper-color-text-money-container: #fff;
	--sapper-color-input-container: #aeace4;
	--sapper-color-text-container: #aeace4;
	--sapper-balance-container-border-color: #aeace480;
	--sapper-balance-container-color: #26254a;
	--sapper-board-color-hover: rgb(255 255 255 / 12.7%);
	--sapper-board-color-border: #fff;
	--sapper-multiply-color: #aeace480;
	--sapper-text-color: #fff;
	--screen-container-text-color: #aeace4;
	--screen-container-background-color: #15133b;
	--screen-balance-container-text-color: #fff;
	--screen-balance-container-border: #aeace44d;
	--screen-balance-container-background: #26254a;
	--screen-game-container-color: #26254a;
	--profile-total-replenished-color: #aeace4;
	--profile-containers-background: #26254a;
	--profile-items-background-color: #26254a;
	--navigation-active-color: #fff;
	--navigation-links-background: #746fe51a;
	--navigation-background: #181641cf;
	--profile-icons-display: flex;
	--eye-header-color: #26254a;
	--header-user-balance-color: #fff;
	--header-user-text-color: #fff;
	--backhome-text-color: #8280be;
	--input-label-text-color: #aeace4;
	--contact-text-container-text-color: #fff;
	--contact-text-container-main-text-color: #6a68e0;
	--contact-text-container-border: #6a68e0;
	--contact-form-text-color: #5a57c5;
	--contact-items-background: #17163c;
	--contact-send-button-background: #6a68e0;
	--contact-background: none;
	--contact-us-section-span-color: #fff;
	--faq-question-font-weigth-color: 900;
	--faq-question-text-color: #fff;
	--faq-question-border-color: #39387a;
	--faq-question-bg-color: #17163c;
	--about-section-text-container-border: #454390;
	--about-section-text-container-bg: #746fe524;
	--about-section-text-color: #9e9bdf;
	--main-section-buy-button-text: #fff;
	--main-section-buy-button-bg: #746fe5;
	--main-section-buy-button-shadow: none;
	--main-section-sign-in-shadow: 0px 4px 4px 0px #1a1842;
	--header-background: #05041b;
	--header-text-color: white;
	--header-sign-in-button: #ffffff24;
	--background: #080721;
	--cursor-background: white;
	--footer-background-color: #010019;
	--footer-text-color: #545297;
	--section-color: none;
	--faq-bg: none;
	--profile-items-span-text-color: #fff;
	--profile-items-text-color: #afadfd;
}
