/* Inspired by https://github.com/twbs/bootstrap/blob/d1634fd96aa0f1537da517c9228227c0494d1309/scss/mixins/_visually-hidden.scss */

@mixin visually-hidden {
	overflow: hidden !important;

	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	padding: 0 !important;

	white-space: nowrap !important;

	clip: rect(0, 0, 0, 0) !important;
	border: 0 !important;

	&:not(caption) {
		position: absolute !important;
	}
}

.visuallyHidden {
	@include visually-hidden;
}
