@use "@/shared/styles/responsive";

.btnMore {
	display: flex;
	gap: 12px;
	align-items: center;
	margin-top: 24px;

	img {
		width: 36px;
		height: 36px;
		padding: 4px;

		background: var(--light-green-bg);
		border-radius: 8px;

		@include responsive.mobile {
			width: 28px;
			height: 28px;
		}
	}
}
