@use "@/shared/styles/responsive.scss";

.container {
	display: flex;
	flex-direction: column;
	gap: 48px;

	width: 100%;
	padding: 0 160px;
	position: relative;
	overflow: hidden;
	// background: var(--background);
	bottom: 1;
	padding-top: 23px;
	padding-bottom: 15px;

	.topContainer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	.blob {
		position: absolute;
		left: calc(100% / 2 - 278px / 2);
		width: 278px;
		height: 278px;
		background: #1380f1;
		filter: blur(150px);
		z-index: -1;
		bottom: -350px;
	}

	.logo {
		display: flex;
		gap: 19px;
		align-items: center;

		p {
			font-family: var(--font-yulong);
			font-size: 31px;
			font-weight: 400;
			line-height: 33.58px;
			color: var(--profile-items-span-text-color);
			text-align: left;
			text-decoration: none;
		}
	}

	.docsContainer {
		display: flex;
		gap: 20px;
		align-items: center;

		font-size: 14px;
		font-weight: 400;
		line-height: 16.42px;
		color: #746fe5;
		text-align: left;
	}

	.bottomText {
		font-size: 14px;
		font-weight: 400;
		line-height: 16.42px;
		color: #746fe5;
		text-align: left;
	}

	@include responsive.mobile {
		gap: 23px;
		align-items: center;
		width: 100%;
		position: relative;
		z-index: 10;
		padding: 28px 30px;
		margin: 0;

		.topContainer {
			flex-direction: column;
			gap: 23px;
			align-items: center;
		}
	}
}
