@use "@/shared/styles/responsive";

.container {
	display: grid;
	grid-gap: 24px;
	grid-template-columns: 549px 1fr;
	align-items: center;

	padding: 40px 0;

	@include responsive.mobile {
		grid-template-columns: 100%;
		padding: 20px 0;
	}
}

.logoContainer {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-bottom: 20px;

	@include responsive.mobile {
		margin-bottom: 0;
	}

	img {
		width: 84px;
		height: 84px;

		@include responsive.mobile {
			width: 50px;
			height: 50px;
		}
	}
}

.logoText {
	font-family: var(--font-space_grotesk);
	font-size: 24px;
	font-weight: 700;
	color: var(--primary);

	@include responsive.mobile {
		font-size: 18px;
	}
}

.description,
.copyright {
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: 20px;

	@include responsive.mobile {
		font-size: 13px;
		line-height: 16px;
		text-align: center;
	}
}

.description {
	margin-bottom: 20px;

	@include responsive.mobile {
		margin-bottom: 10px;
	}
}

.leftBlock {
	@include responsive.mobile {
		.description,
		.copyright {
			display: none;
		}
	}
}

.mobileBlock {
	display: none;

	@include responsive.mobile {
		display: block;
	}
}

.menuTitle {
	margin-bottom: 24px;

	font-family: var(--font-space_grotesk);
	font-size: 28px;
	font-weight: 500;
	font-style: normal;
	line-height: 26px;

	@include responsive.mobile {
		margin-bottom: 16px;
		font-size: 15px;
		line-height: 20px;
	}
}

.menu {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;

	@include responsive.mobile {
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: space-between;
	}
}

.menuItem {
	display: block;

	width: max-content;

	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: 20px;
	color: var(--primary);

	&:global(.active) {
		color: var(--bold-primary);
	}

	@include responsive.mobile {
		font-size: 14px;
		line-height: 18px;
	}
}

.rightBlock {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	justify-content: flex-end;

	@include responsive.mobile {
		justify-content: flex-start;
	}
}
