@use "@/shared/styles/responsive";

.container {
	position: relative;
	width: 100%;
	min-width: 1170px;
	height: 552px;

	svg {
		overflow: visible !important;
		width: 100% !important;
	}

	@include responsive.mobile {
		height: 324px;

		svg {
			margin-left: -15px;
		}
	}
}

.svg {
	path {
		fill: var(--header-dropdown-sign-in-color);
	}
}

.text {
	position: absolute;
	z-index: 2;
	top: -5px;
	left: 7%;

	display: flex;
	gap: 10px;
	align-items: center;

	font-family: var(--font-inter);
	font-size: 24px;
	font-weight: 600;
	line-height: 100%;
	color: #fff;
	text-align: center;
	letter-spacing: 0%;
}

.monthText {
	position: absolute;
	z-index: 2;
	right: 0;
	bottom: 20px;

	font-family: var(--font-inter);
	font-size: 20px;
	font-weight: 600;
	line-height: 140%;
	color: #fff;
	letter-spacing: 0%;
}

.yContainer {
	display: flex;
	align-items: center;
}

.toolTipContainer {
	position: relative;
	z-index: 1;

	display: flex;
	flex-direction: column;
	gap: 10px;

	width: max-content !important;
	padding: 15px;

	font-family: var(--font-inter);

	background: #4f4bad;
	border-radius: 6px;

	.topText {
		font-size: 17px;
		font-weight: 600;
		line-height: 100%;
		color: #fff;
		letter-spacing: 0%;
	}

	.data {
		display: flex;
		flex-direction: column;
		gap: 6px;

		p {
			font-size: 17px;
			font-weight: 400;
			line-height: 100%;
			color: #aeace4;
			letter-spacing: 0%;
			vertical-align: middle;
		}
	}

	@include responsive.mobile {
		gap: 5px;
		padding: 5px;

		.topText {
			font-size: 9px;
		}

		.data {
			p {
				font-size: 9px;
			}
		}
	}
}

.infoContainer {
	position: absolute;
	z-index: 3;

	display: flex;
	align-items: center;
	justify-content: center;

	width: auto;
	height: auto;
	height: 69px;
	margin-top: -30px;
	margin-left: 240px;
	padding: 0 11px;

	font-family: var(--font-inter);
	color: #aeace4;

	background: #26254a;
	border: 1px solid #39387a;
	border-left: none;
	border-radius: 0 6px 6px 0;

	&::after {
		content: "";

		position: absolute;
		z-index: -1;
		top: 8px;
		left: -25px;
		transform: rotate(45deg);

		width: 54px;
		height: 52px;

		background: #26254a;
		border: 1px solid #39387a;
		border-top: none;
		border-right: none;
		border-radius: 6px;
	}
}

.toolTipDot {
	position: absolute;
	bottom: -10px;
	left: calc(50% - 27px);
	transform: rotate(45deg) !important;

	width: 40px;
	height: 40px;

	background: #4f4bad;
	border-radius: 6px;

	@include responsive.mobile {
		bottom: -5px;
		left: calc(50% - 15px);
		width: 20px;
		height: 20px;
	}
}
