.css-1ey656h-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
	color: #fff !important;
}

.css-wll7cy-MuiButtonBase-root-MuiMenuItem-root {
	font-family: var(--font-work-sans) !important;
}

.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
	// display: none !;
	color: #ffffff00 !important;
}

.Mui-selected {
	background: #181840 !important;
	color: #746fe5 !important;
}

.css-1toxriw-MuiList-root-MuiMenu-list {
	padding: 0 !important;
}
