@use "@/shared/styles/responsive.scss";

.container {
	display: flex;
	flex-direction: column;
	gap: 16px;

	.select {
		display: none;
	}

	.buttonContainer {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	@include responsive.mobile {
		width: 100%;
		button {
			display: none;
		}
		.select {
			display: block;
		}
	}

	button {
		width: 252px;
		height: 52px;
		gap: 10px;
		border-radius: 6px;
		background: var(--button-graph-background);
		border: 1px solid #746fe5;
		color: #746fe5;
		font-weight: 500;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: 0%;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
	}

	.selectValuesContainer {
		display: none;
		@include responsive.mobile {
			display: block;
		}
	}

	.active {
		background: #746fe5;
		color: white;
		border: 1px solid #746fe5;
	}
}
