.button {
	width: 450px;
	height: 52px;
	border-radius: 6px;
	background: #746fe5;
	font-size: 16px;
	font-weight: 500;
	line-height: 18.77px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #fff;

	&:disabled {
		background: #746fe580;
		color: #ffffff80;
	}

	div {
		width: 20px !important;
		height: 20px !important;
		padding: 0 !important;
		margin: 0 !important;
	}
}
