@use "@/shared/styles/responsive";

.container {
	width: 100%;
	padding: 80px 0 40px;

	@include responsive.mobile {
		padding: 16px 0;
	}
}

.title {
	max-width: 800px;
	margin-bottom: 16px;

	font-family: var(--font-space_grotesk);
	font-size: 100px;
	font-weight: 500;
	font-style: normal;
	line-height: 82px;
	color: var(--bold-primary);

	@include responsive.mobile {
		font-size: 32px;
		line-height: 28px;
	}
}

.description {
	max-width: 326px;

	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: 20px;

	@include responsive.mobile {
		max-width: 241px;
		font-size: 13px;
	}
}

.bottomContainer {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	min-height: 696px;
	margin-top: -15%;

	@include responsive.mobile {
		min-height: auto;
		margin-top: 16px;
	}
}

.coinBlock {
	display: flex;
	gap: 18px;
	align-items: center;

	width: max-content;
	padding: 24px;

	background: var(--light-bg);
	border-radius: 16px;

	@include responsive.mobile {
		gap: 12px;
		padding: 12px;
	}
}

.coinBlockIcon {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 12px;

	background: var(--light-orange-bg);
	border-radius: 12px;

	img {
		width: 32px;
		height: 32px;
	}

	@include responsive.mobile {
		padding: 7px;

		img {
			width: 18px;
			height: 18px;
		}
	}
}

.coinBlockInfo {
	display: flex;
	flex-direction: column;
	gap: 8px;

	@include responsive.mobile {
		gap: 4px;
	}
}

.coinBlockTitle {
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	line-height: 16px;
	color: var(--primary);
}

.coinBlockDescription {
	display: flex;

	font-family: var(--font-space_grotesk);
	font-size: 32px;
	font-weight: 500;
	font-style: normal;
	line-height: 28px;
	color: var(--bold-primary);

	@include responsive.mobile {
		font-size: 18px;
	}
}

.totalCapitalization {
	position: absolute;
	bottom: 24%;
	left: 0;

	@include responsive.mobile {
		z-index: 1;
		bottom: 12%;
	}
}

.currentPrice {
	position: absolute;
	z-index: 1;
	top: 20%;
	right: 0;

	@include responsive.mobile {
		top: 0;
	}
}

.mainImage {
	position: absolute;
	left: 25%;
	width: 696px;
	height: 696px;

	@include responsive.mobile {
		position: initial;
		width: 100%;
		height: auto;
	}
}

.footerContainer {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: -10%;

	@include responsive.mobile {
		margin-top: 50px;
	}
}

.buttonsContainer {
	display: flex;
	gap: 12px;
	align-items: center;

	@include responsive.mobile {
		gap: 8px;
	}
}

.serviceBlock {
	display: flex;
	gap: 24px;
	align-items: center;

	@include responsive.mobile {
		display: none;
	}
}

.serviceBlockImage {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 19px;

	background: var(--light-green-bg);
	border-radius: 16px;

	img {
		width: 24px;
		height: 24px;
	}
}

.serviceBlockTitle {
	font-family: var(--font-space_grotesk);
	font-size: 44px;
	font-weight: 500;
	font-style: normal;
	line-height: 60px;
	color: var(--bold-primary);
	letter-spacing: -1.76px;
}
